div[data-contain="login"] .BaseContainer {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0px auto;
  padding: 20px;
}

div[data-contain="login"] .BaseImage {
  width: auto;
  height: 100px;
}

div[data-contain="login"] .BaseInput {
  width: calc(100% - 25px);
  margin: 0px 0px 10px 0px;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: none;
}

div[data-contain="login"] .BaseButton {
  appearance: none;
  cursor: pointer;
  margin: 0px;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: transparent;
}

div[data-contain="login"] .BaseDivider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px 0;
}

div[data-contain="login"] .BaseDivider span {
  position: relative;
  display: inline-block;
  color: #b5b5b5;
  font-size: 14px;
}

div[data-contain="login"] .BaseDivider span:before,
div[data-contain="login"] .BaseDivider span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #ddd;
}

div[data-contain="login"] .BaseDivider span:before {
  right: 100%;
  margin-right: 15px;
}

div[data-contain="login"] .BaseDivider span:after {
  left: 100%;
  margin-left: 15px;
}

div[data-contain="login"] form .BaseButton {
  border: 1px solid #000;
  background: #000;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
}

div[data-contain="social_buttons"] .BaseButton {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

div[data-contain="social_buttons"] .BaseButton:last-child {
  margin-bottom: 0px;
}

div[data-contain="social_buttons"] svg {
  position: absolute;
  left: 10px;
  width: 18px;
  height: auto;
}

div[data-contain="redirect_links"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div[data-contain="redirect_links"] .BaseButton {
  border: none;
  background: none;
}

.pa_container {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0px auto;
  padding: 20px;
}

.pa_logo {
  width: auto;
  height: 100px;
}

.pa_button {
  appearance: none;
  cursor: pointer;
  margin: 0px;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: transparent;
}

.pa_button--social {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pa_button--social:last-child {
  margin-bottom: 0px;
}

.pa_button--social svg {
  position: absolute;
  left: 10px;
  width: 18px;
  height: auto;
}

.pa_button--action {
  border: 1px solid #000;
  background: #000;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
}

.pa_button--minimal {
  border: none;
  background: none;
}

.pa_input {
  width: calc(100% - 25px);
  margin: 0px 0px 10px 0px;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: none;
}

.pa_checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 5px 0px;
}

.pa_bottom-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pa_divider {
  border: 1px solid #ddd;
  border-top: none;
  margin: 20px 0;
}
